@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.background-brandenburgertor {
    position: absolute;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.body-welcome {
    overflow: hidden;
}